
  .tooltiptext{
    visibility: hidden;
    font-size: 12px;
    width: 80px;
    padding: 2px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 40%;
    opacity: 0;
  }

  div.col-8 div:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
  }